.letrs-red {
    color: #c2151c;
}

h1 {
    color: #c2151c;
    font-size: 24px;
    line-height: 30px;
}

.orange-body {
    background: #ff6d10;
}

.orange-body p {
    color: #ffffff;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    color: #c2151c;
}

h2 {
    color: #c2151c;
    font-size: 18px;
    border-bottom: 1px solid #c2151c;
    margin-top: 2em;
}

.red-body {
    background: #c2151c;
}

.red-body p {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

.red-body ul {
    margin-bottom: 0;
}

.red-body li {
    color: #ffffff;
}

.red-body p a, .red-body p a:visited, .red-body p a:hover {
    color: #ffffff;
}